= form_for(@book) do |f|
  - if @book.errors.any?
    .alert.alert-danger
      %h3
        = t('errors.template.body')
      %ul
        - @book.errors.full_messages.each do |msg|
          %li= msg
  %p
    = f.label :title
    = f.text_field :title
  %p
    Choose an author or add a
    = link_to 'new one', new_author_path
  %br
    = f.label :author
    = f.collection_select :author_ids, Author.order('last_name ASC'), :id, :full_name,
      { prompt: 'Choose an author', include_blank: false, selected: @book.authors.map(&:id) }, { multiple: true }

  %p
    = f.label :price
    = f.number_field :price, step: 0.01

  %p
    = f.label :purchase_date
    = f.date_field :purchase_date

  %p
    = f.submit class: 'btn'
